__pycache__/
*.py[cod]
*$py.class
save/
data/opensubs/OpenSubtitles/
data/opensubs/download*
data/cornell/movie_lines.txt
data/cornell/movie_conversations.txt
data/twitter/twitter_en.txt
data/twitter/twitter_en_small.txt

